h1 {
  text-align: center;
  font-size: 38px;
  margin: 0;
  position: relative;
  bottom: -10px;
  padding-top: 15px;
}

h2 {
  font-size: 38px;
  margin: 10px 0 0 5px;
  overflow-wrap: break-word;
}

h6 {
  text-transform: capitalize;
}

img {
  position: relative;
  bottom: 2px;
}

.container {
  padding-top: 100px;
  cursor: default;
}

.card,
small {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.card {
  background: #f2f9f1;
  color: #155263;
  padding: 15px;
  font-family: "Onest", sans-serif;
}

.btn-outline-secondary:hover {
  background-color: #155263;
}

.btn-outline-secondary-current {
  text-align: center;
  cursor: pointer;
  color: #6c757d;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-color: #6c757d;
}

.btn-outline-secondary-current:hover {
  background-color: #155263;
  color: #fff;
}

.dateHourDetails {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 2px;
}

.hour {
  padding-left: 30px;
}

.descriptionValue {
  margin: 10px 0 0 5px;
}

.degreesC {
  opacity: 0.8;
  font-size: 18px;
}

.maxMinTemperatures {
  font-size: 16px;
  margin-top: 14px;
  text-align: center;
}

.temperatureMin {
  opacity: 0.6;
}

.mainIcon {
  position: relative;
  bottom: 10px;
}

.dailyValues {
  font-size: 16px;
}

.forecastItems {
  padding: 26px 0 0 10px;
  list-style: none;
  text-align: center;
  overflow-wrap: break-word;
  margin: 0 auto;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

@media (max-width: 570px) {
  h2 {
    font-size: 34px;
    margin: 10px 0 0 0;
  }

  .card {
    max-width: 350px;
  }

  .dateHourDetails {
    font-size: 12px;
  }

  .forecastItems {
    font-size: 12px;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
